body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .quiz-container {
    background: lavender;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  
  .btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  button {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background:blueviolet;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .correct {
    background-color: #28a745 !important;
  }
  
  .incorrect {
    background-color: #dc3545 !important;
  }
  
  #next-btn,
  #restart-btn {
    margin-top: 20px;
  }
  